/* html */
html {
    background-color: rgb(0,0,0);
    font-size: 14px;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
/* header */
.header--dark {
background-color: rgb(51,57,64);
color: rgb(236,236,236);
margin-top:25px;
padding: 10px;
}
.header__title {
    display: inline;
    font-size: 1.25rem;
}
.header__flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color:rgb(51,57,64);
  }
.header__search {
    display: inline;
}
h3 {
    font-weight: 20;
}
.search__input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    color: rgb(153,153,153);
    border: solid 5px transparent;
    transition: border .15s;
    position: absolute;
    right: 15%;
}
.search__input:focus {
    border: solid 5px rgb(128,189,255);
}
.search__btn {
    background-color: rgb(0,123,255);
    color: rgb(255,255,255);
    width: 41px;
    height: 41px;
    border: 0px;
    position: relative;
    left: 79%;
    }
.fa-user{
    color: rgb(153,153,153);

}
.fa-caret-down{
    color: rgb(153,153,153);
}
.fa-bars{
    font-size: 1.25rem;
    color: rgb(153,153,153);
    position: relative;
    left: 10%;
}
.header__icon--left {
    display: inline-block;
    width: 50px;
    text-align: center;
    position: relative;
    left: 80%;
}
.header__search--flex-container {
    display: flex;
    flex-wrap:nowrap;
    justify-content: left;
    
}
/* main */
.main__card--blue {
    transition: background-color 0.3s;
}
.main__card--blue:hover {
    background-color: rgba(0,123,255, 0.6);
}
.main__card--yellow {
    transition: background-color 0.3s;
}
.main__card--yellow:hover {
    background-color: rgba(255,193,7, 0.6);
}
.main__card--green {
    transition: background-color 0.3s;
}
.main__card--green:hover {
    background-color: rgba(40,167,69,0.6);
}
.main__card--red {
    transition: background-color 0.3s;
}
.main__card--red:hover {
    background-color: rgba(220,53,69, 0.6);
}
.card__top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 70px;
    }
.card__bottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    height: 30px;
    font-size: 1rem;
    }
.card__flex-container {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    position: relative;
    top: 20px;
}
.card__top {
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.nav__flex-container {
    display: flex;
    flex-wrap:nowrap;
}
.main__card--blue {
    background-color: rgb(0,123,255);
    margin: 1%;
}
.main__card--yellow {
    background-color: rgb(255,193,7);
    margin: 1%;
}
.main__card--green {
    background-color: rgb(40,167,69);
    margin: 1%;
}
.main__card--red {
    background-color: rgb(220,53,69);
    margin: 1%;
    }
main {  
    display: flex;
    flex-wrap: nowrap;
    }
aside {
    flex: 15%;
    height: 100vh;
}
section {
    background-color:rgb(255,255,255);
    flex: 85%;
    height: 100vh;
}
h1 {
   font-size: 2.3rem; 
   padding-left: 1%;
}
.main__breadcrumb {
    padding: 1%;
    width: 98%;
    border-radius: 3px;
    color: rgb(155, 153, 153);
    align-items:center;
    background-color: rgb(233,236,239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin-left: 1%;
}
ul {
    list-style-type:none;
}
li {
    padding: 15px;
    color: rgb(155, 153, 153);
}
li:first-child, li:nth-child(3), li:nth-child(6) {
    text-transform: uppercase;
    font-size: .8rem;
}
li:nth-child(2) {
    color: rgb(255,255,255)
}

.flex-container {
    display: flex;
    flex-wrap:nowrap;
}
.main__breadcrumb {grid-area: breadcrumb}
.main__card--blue {grid-area: card1}
.main__card--yellow {grid-area: card2}
.main__card--green {grid-area: card3}
.main__card--red {grid-area: card4}

.grid-container {
display: grid;
grid-template-areas:
'breadcrumb breadcrumb breadcrumb breadcrumb' 
'card1 card2 card3 card4';
grid-gap: 10px;
background-color:rgb 255,255,255;
padding: 10px;
}
.grid-container > div {
    text-align: left; 
    font-size: 20px;
    color: white;
    padding: 40px;
    border-radius: .25rem;
}